[GLOBAL]
pants_version = "2.21.0"
colors = true
docker_execution = true
pantsd = true

backend_packages = [
  "pants.backend.docker",
  "pants.backend.shell",
  "pants.backend.python",
  "pants.backend.shell.lint.shfmt",
  "pants.backend.shell.lint.shellcheck",
  "pants.backend.experimental.python.lint.ruff.check",
  "pants.backend.experimental.python.lint.ruff.format",
  "pants.backend.build_files.fmt.ruff",
  "pants.backend.experimental.helm"
]

# pants macros are loaded as 'headers' to the build files. files in the list below will get added as macros.
build_file_prelude_globs = ["pants-plugins/parametrize_platforms.py"]


[environments-preview.names]
local_darwin = "//:local_darwin"
local_linux = "//:local_linux"
docker_linux_cpu = "//:docker_linux_cpu"
docker_linux_cuda = "//:docker_linux_cuda"


[cli.alias]
--debug-build = "--print-stacktrace -ldebug --keep-sandboxes=on_failure"
run-cuda = "--python-default-resolve=linux_cuda run"
run-cpu = "--python-default-resolve=linux_cpu run"



[generate-lockfiles]
diff = true


[source]
# Defines the "roots" for subprojects. anything with folders like
# //**/[python|docker|k8s|infra]/<name>/
# Will be importable as `<name>.whatever` in python/etc.
root_patterns = ["python/mzai/backend", "lumigator/python/mzai/sdk",  "infra"]

[tailor]
build_file_name = "BUILD.pants"

[python]
interpreter_constraints = ['CPython==3.11.9']
# Enable the "resolves" mechanism, which turns on lockfiles for user code. See
# https://www.pantsbuild.org/docs/python-third-party-dependencies. 
# This also adds the `generate-lockfiles` goal for Pants to generate the lockfile for you.
enable_resolves = true
resolver_manylinux = "manylinux2014"
default_resolve = "darwin"

[python-repos]
# these are required for nvidia's cuda libs etc.
indexes.add = [
"https://pypi.ngc.nvidia.com",
]


find_links = ["%(env.HOME)s/workspace/wheelhouse"]
path_mappings = ["WHEELS_DIR|%(env.HOME)s/workspace/wheelhouse"]

[python.resolves]
darwin = "3rdparty/python/darwin.lock"
linux_cpu = "3rdparty/python/linux_cpu.lock"
linux_cuda = "3rdparty/python/linux_cuda.lock"


[python-bootstrap]
search_path = [
  "%(buildroot)s/.python/cpython-3.11.9-macos-aarch64-none/bin",
  "%(buildroot)s/.python/cpython-3.11.9-linux-x86_64-gnu/bin",
  "/opt/python/cpython-3.11.9-linux-x86_64-gnu/bin",
  "/opt/python/install/bin/",
  "<PYENV>",
  "<PATH>",
]

[python-infer]
use_rust_parser = true

[ruff]
config = "ruff.toml"

[docker]
use_buildx = true
#### This is a terrible hidden edge -
#### the `--output=type=docker` is required to make buildx, which
# is sandboxed, push the built image to the local docker registry.
# without it, it requires you to add an explict
# local registry to pants.
build_args = ["--output=type=docker", "REPOVERSION"]
run_args = ["--platform=linux/amd64"]
env_vars = [
  "REPOVERSION=%(env.REPOVERSION)s",
  "DOCKER_BUILDKIT=1",
  "DOCKER_CONFIG=%(homedir)s/.docker"
]
tools = [
  "dirname",
  "readlink",
  "python3",
  "cut",
  "sed",
  "bash",
]

[docker.registries.dockerhub]
address = "docker.io/mzdotai"
default = false

[pytest]
args = ["-v", "--show-capture", "stderr"]

[test]
extra_env_vars = [
  'SQLALCHEMY_DATABASE_URL=sqlite:///local.db'
]