click>=8.1.7
scipy==1.13.1
numpy<2.0.0
wandb==0.16.3
protobuf>=3.20.2
urllib3>=1.26.18,<2
pydantic>=2.6.4
pydantic-yaml>=1.2.0
ray[default]==2.30.0
loguru==0.7.2
s3fs==2024.5.0
ruff==0.5.5
transformers==4.43.4
accelerate==0.33.0
bitsandbytes==0.42.0
openai==1.38.0
nltk==3.8.1
vllm==0.6.2