{{ include "lumigator.mistral-default-secret" . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lumigator.fullname" . }}
  labels:
    {{- include "lumigator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "lumigator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "lumigator.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: AWS_ACCESS_KEY
              value: {{ .Values.AWSAccessKey | quote }}
            - name: AWS_SECRET_KEY
              value: {{ .Values.AWSSecretKey | quote }}
            - name: S3_ENDPOINT_URL
              value: {{ .Values.s3EndpointURL | quote }}
            - name: AWS_ENDPOINT_URL
              value: {{ .Values.AWSEndpointURL | quote }}
            - name: S3_BUCKET
              value: {{ .Values.s3Bucket | quote }}
            - name: POSTGRES_DB
              value: {{ .Values.postgresDb | quote }}
            - name: POSTGRES_HOST
              value: {{ .Values.postgresHost | quote }}
            - name: POSTGRES_PORT
              value: {{ .Values.postgresPort | quote }}
            - name: POSTGRES_USER
              value: {{ .Values.postgresUser | quote }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.postgresPassword | quote }}
            - name: RAY_HEAD_NODE_HOST
              value: {{ .Values.rayAddress | quote }}
            - name: RAY_DASHBOARD_PORT
              value: {{ .Values.rayPort | quote }}
            - name: SUMMARIZER_WORK_DIR
              value: {{ .Values.summarizerWorkDir | quote }}
            - name: RAY_WORKER_GPUS
              value: {{ .Values.rayWorkerGPUs | quote }}
              # pragma: allowlist-nextline secret
            {{- if or .Values.mistralAPIKey .Values.existingMistralAPISecret }}
            - name: MISTRAL_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "lumigator.mistral-secret-ref" . }}
                  key: {{ .Consts.mistralSecretKey }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
