{{ include "lumigator.mistral-default-secret" . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lumigator.fullname" . }}
  labels:
    {{- include "lumigator.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "lumigator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "lumigator.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{- include "lumigator.repo" . }}:{{- include "lumigator.tag" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: AWS_ACCESS_KEY_ID
              value: {{ .Values.AWSAccessKey | quote }}
            - name: AWS_SECRET_ACCESS_KEY
              value: {{ .Values.AWSSecretKey | quote }}
            - name: S3_ENDPOINT_URL
              value: {{ .Values.s3EndpointURL | quote }}
            - name: AWS_ENDPOINT_URL
              value: {{ .Values.AWSEndpointURL | quote }}
            - name: S3_BUCKET
              value: {{ required "Missing S3 bucket name" .Values.s3Bucket | quote }}
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-postgresql
                  key: postgres-password
            - name: SQLALCHEMY_DATABASE_URL
              value: "postgresql://postgres:$(POSTGRESQL_PASSWORD)@{{ .Release.Name }}-postgresql/postgres"
            - name: RAY_HEAD_NODE_HOST
              value: {{ include "lumigator.ray-address" .| quote }}
            - name: RAY_DASHBOARD_PORT
              value: {{ required "Missing Ray dashboard node port" .Values.rayPort | quote }}
            - name: RAY_WORKER_GPUS
              value: {{ required "Missing Ray Worker GPU number" .Values.rayWorkerGPUs | quote }}
              # pragma: allowlist-nextline secret
            {{- if or .Values.mistralAPIKey .Values.existingMistralAPISecret }}
            - name: MISTRAL_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "lumigator.mistral-secret-ref" . }}
                  key: {{ .Consts.mistralSecretKey }}
            {{- end }}
            {{- if or .Values.openaiAPIKey .Values.existingOpenaiAPISecret }}
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "lumigator.openai-secret-ref" . }}
                  key: {{ .Consts.openaiSecretKey }}
            {{- end }}
            - name: EVALUATOR_PIP_REQS
              value: {{ .Values.evaluatorPipReqs }}
            - name: EVALUATOR_WORK_DIR
              value: {{ .Values.evaluatorWorkDir }}
            - name: MLFLOW_TRACKING_URI
              value: {{ include "lumigator.mlflow-address" .| quote }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
