@use 'variables';

// this file overrides some of the default styles from primevue
// so the use of !important may be necessary

:root {
  --l-tag-info-background: #874b0a !important;
}

// Menu Styling
.p-menu {
  background-color: variables.$l-menu-bg !important;
  font-family: variables.$l-font-family;
  padding: variables.$l-spacing-1 0;
  border: none !important;

  &-item {
    cursor: pointer;

    &-content {
      color: unset !important;
    }

    &-link {
      color: unset !important;
    }

    &-label {
      color: unset !important;
    }

    :hover {
      background-color: variables.$l-menu-bg;
    }
  }
}

// Button Styling
.p-button {
  background-color: variables.$l-primary-color;
  color: variables.$l-primary-color-text;
  padding: 0.75rem 1.5rem;
  border-radius: variables.$l-button-border-radius;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: variables.$l-button-hover-bg;
  }
}

// Datable styling
.p-datatable-table-container {
  border-radius: 8px;
  border: 1px solid variables.$l-grey-300;

  .p-datatable-thead {
    height: 44px;
  }
  .p-datatable-column-header-content {
    color: variables.$l-grey-200;
    font-size: variables.$l-font-size-sm;
  }

  [class*='p-row-'] {
    background-color: variables.$l-card-bg;
    border: none;
    cursor: pointer;
    height: 48px;

    &:hover {
      background-color: variables.$l-grey-400;
    }

    td {
      border: none;
      color: variables.$l-grey-100;
      padding: 0.5rem 1rem;
    }

    &:hover td {
      color: variables.$white;
    }
  }
  .p-datatable-row-selected {
    background-color: variables.$l-grey-300 !important;
  }

  .p-datatable-column-sorted {
    background: inherit;
  }

  .p-datatable-row-expansion {
    background: variables.$l-main-bg !important;
    &:hover {
      background: variables.$l-main-bg !important;
    }

    &:hover td {
      background: variables.$l-main-bg !important;
    }

    & > td:first-child {
      padding: 0;
    }
  }
}

// Class for Datatable with visible lines and hover effect disabled
.gridlines {
  .p-datatable-column-title {
    text-wrap: nowrap;
    font-size: variables.$l-font-size-sm;
  }
  tr {
    box-shadow: inset 0px 1px 0px variables.$l-gridlines-stroke;
  }
  td {
    vertical-align: top;
    font-size: variables.$l-font-size-sm;
  }

  [class*='p-row-'] {
    background-color: variables.$l-card-bg;

    &:hover {
      background-color: variables.$l-card-bg;
    }

    &:hover td {
      color: variables.$l-grey-100;
    }
  }
}

.p-datatable-header-cell {
  background-color: variables.$l-main-bg;
  text-transform: uppercase;
}

.p-datatable-tbody {
  background-color: variables.$l-card-bg;
  font-size: variables.$l-table-font-size;
}
.p-button-icon-only.p-button-rounded {
  height: variables.$l-button-icon-only-width !important;
  width: variables.$l-button-icon-only-width;
  span {
    font-size: 14px;
  }
}

.p-select-label {
  align-content: center;
  font-size: variables.$l-font-size-sm;
}

.p-floatlabel-in {
  font-size: variables.$l-font-size-sm;
}

.p-select-option-label {
  font-size: variables.$l-font-size-sm;
}

.p-select.p-disabled {
  background-color: variables.$l-disabled-input-color !important;
  color: variables.$l-grey-600 !important;

  .p-select-label,
  .p-floatlabel-in {
    color: variables.$l-grey-600 !important;
  }

  .p-select-dropdown {
    color: variables.$l-grey-600 !important;
  }
}

// Radio button
.p-radiobutton-box {
  border: 1px solid white !important;
  background-color: variables.$l-grey-300 !important;
  height: 18px !important;
  width: 18px !important;
}

.p-radiobutton-checked .p-radiobutton-box {
  border-color: var(--l-radiobutton-checked-border-color) !important;

  .p-radiobutton-icon {
    background: variables.$l-primary-color !important;
  }
}

.p-inputtext {
  font-size: 12px !important;
}

// Tooltip
.p-tooltip {
  font-size: variables.$l-font-size-sm;
  color: variables.$l-grey-100;
  background-color: transparent;
}

// Tabs
.p-tabs {
  .p-tablist-content > .p-tablist-tab-list {
    align-items: center;
    background: variables.$l-menu-bg;
    gap: 1.5rem;

    .p-tab {
      padding: 0.5rem 0;
      font-size: variables.$l-menu-font-size;
      font-weight: variables.$l-font-weight-normal;
    }

    .p-tab-active {
      border-color: variables.$white;
      color: variables.$white;
    }

    .p-tablist-active-bar {
      background-color: variables.$white;
    }
  }

  .p-tabpanels {
    padding: 0;
    background: transparent;
  }

  .p-tablist {
    margin-bottom: variables.$l-spacing-1;
  }

  .p-tablist-tab-list {
    background: variables.$l-card-bg !important;
    border-color: variables.$l-main-bg;

    .p-tab {
      padding-left: variables.$l-spacing-1;
      padding-right: variables.$l-spacing-1;
      border-color: variables.$l-main-bg;

      &:hover {
        border-color: variables.$l-main-bg;
      }
    }
  }
}

// breadcrumbs
.p-breadcrumb {
  --l-breadcrumb-background: none;
  li {
    background-color: unset;
  }
}

.p-disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.p-dialog {
  display: flex;
  width: 37.5rem;
  // height: 50rem;
  padding: 1.5rem 2rem;
  --l-dialog-header-padding: 0;
  flex-direction: column;
  gap: 1.5rem;

  --l-dialog-color: var(--l-grey-100);
  --l-dialog-border-radius: 0.5rem;
  --l-dialog-background: var(--l-grey-400);
}

.p-dialog-header {
  align-items: flex-start !important;
}

.p-dialog-content {
  --l-dialog-content-padding: 1rem;
}

// hides the "X" button from confirm popup
.p-confirmdialog .p-dialog-close-button {
  display: none;
}
