@import 'variables';

// this file overrides some of the default styles from primevue
//  so the use of !important may be necessary

// Menu Styling
.p-menu {
  background-color: $l-menu-bg!important;
  font-family: $l-font-family;
	padding: $l-spacing-1 0;
	border: none!important;

  &-item {
		cursor: pointer;

		:hover {
			background-color: $l-menu-bg;
		}
  }
}

// Button Styling
.p-button {
  background-color: $l-primary-color;
  color: $l-primary-color-text;
  padding: 0.75rem 1.5rem;
  border-radius: $l-button-border-radius;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $l-button-hover-bg;
  }
}


// Datable styling
.p-datatable-table-container {
		border-radius: 8px;
		border: 1px solid $l-grey-300;
	.p-datatable-column-header-content {
		color: $l-grey-200;
		font-size: $l-font-size-sm;
	}

	[class*="p-row-"] {
		background-color: $l-card-bg;
		border: none;
		cursor: pointer;

		&:hover {
			background-color: $l-grey-300;
		}

		td {
			border: none;
			color: $l-grey-100;
			padding: $l-spacing-1/2 1.25rem!important
		}

		&:hover td {
			color: $white;
		}

	}
}

.p-datatable-header-cell {
	background-color: $l-main-bg;
	text-transform: uppercase
}

.p-datatable-tbody {
	background-color:$l-card-bg ;
	font-size:$l-table-font-size;
}