@use 'variables';

// PrimeVue Theme Customizations need -p prefix
.p-button {
  background-color: variables.$l-button-bg;
  color: variables.$l-button-text-color;
  border-radius: variables.$l-button-border-radius;
  font-family: variables.$l-font-family;
  font-weight: variables.$l-font-weight-bold;

  &:hover {
    background-color: variables.$l-button-hover-bg;
  }

  &:disabled:hover {
    background-color: var(--l-button-secondary-background);
    cursor: not-allowed;
  }
}

.p-card {
  background-color: variables.$l-card-bg;
  color: variables.$l-text-color;
  border-radius: variables.$l-border-radius;
  box-shadow: variables.$l-box-shadow;
}

.p-inputtext {
  background-color: variables.$l-main-bg;
  color: variables.$l-text-color;
  padding: variables.$l-spacing-1 * 0.5;
  border-radius: variables.$l-input-border-radius;
}

.hidden {
  visibility: hidden !important;
}

.width-100 {
  width: 100% !important;
}
