@use 'sass:color';
// Colors
$l-primary-color: #e0c414; // Main brand color (gold/yellow)
$l-primary-color-text: #ffffff;
$white: #ffffff;
$black: #000000;
$l-grey-100: #bbbbbb;
$l-grey-150: #a2a2a2;
$l-grey-200: #888888;
$l-grey-300: #363636;
$l-grey-400: #222222;
$l-grey-600: #111111;
$l-menu-bg: #111111;
$l-menu-item-color: #7f7f7f;
$l-logs-bg: #080808;
$l-main-bg: #111111;
$l-card-bg: #222222;
$l-overlay-color: rgba(0, 0, 0, 0.6);
$l-text-color: #eaeaea;
$l-text-secondary-color: #b3b3b3;
$l-disabled-input-color: #363636;
$l-gridlines-stroke: #3f3f46;

// Typography
$l-font-family: 'Inter', sans-serif;
$l-font-size: 1rem;
$l-font-size-xs: 10px;
$l-font-size-sm: 12px;
$l-font-size-md: 16px;
$l-menu-font-size: 14px;
$l-table-font-size: 14px;
$l-font-weight-normal: 400;
$l-font-weight-semibold: 500;
$l-font-weight-bold: 600;
$l-button-icon-only-width: 1.5rem;

// Spacing and Borders
$l-main-radius: 8px;
$l-border-radius: 6px;
$l-button-border-radius: 4px;
$l-input-border-radius: 4px;
$l-spacing-sm: 0.5rem;
$l-spacing-1: 1rem;
$l-app-width: 1800px;
$l-main-width: 1300px;

// Shadows
$l-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
$border-stroke: #47474a;

// Button Specific
$l-button-bg: $l-primary-color;
$l-button-text-color: #000000;
$l-button-hover-bg: color.adjust($l-primary-color, $lightness: -10%);

// Sizes
$l-sliding-panel-size: 370px;
$l-input-height: 50px;
$l-bottom-drawer-height: 40vh;

:root {
  --l-primary-color: #{$l-primary-color};
  --l-primary-color-text: #{$l-primary-color-text};
  --white: #{$white};
  --black: #{$black};
  --l-grey-100: #{$l-grey-100};
  --l-grey-150: #{$l-grey-150};
  --l-grey-200: #{$l-grey-200};
  --l-grey-300: #{$l-grey-300};
  --l-grey-400: #{$l-grey-400};
  --l-grey-600: #{$l-grey-600};
  --l-menu-bg: #{$l-menu-bg};
  --l-menu-item-color: #{$l-menu-item-color};
  --l-logs-bg: #{$l-logs-bg};
  --l-main-bg: #{$l-main-bg};
  --l-card-bg: #{$l-card-bg};
  --l-overlay-color: #{$l-overlay-color};
  --l-text-color: #{$l-text-color};
  --l-text-secondary-color: #{$l-text-secondary-color};
  --l-disabled-input-color: #{$l-disabled-input-color};
  --l-gridlines-stroke: #{$l-gridlines-stroke};

  /* Typography */
  --l-font-family: #{$l-font-family};
  --l-font-size: #{$l-font-size};
  --l-font-size-xs: #{$l-font-size-xs};
  --l-font-size-sm: #{$l-font-size-sm};
  --l-font-size-md: #{$l-font-size-md};
  --l-menu-font-size: #{$l-menu-font-size};
  --l-table-font-size: #{$l-table-font-size};
  --l-font-weight-normal: #{$l-font-weight-normal};
  --l-font-weight-semibold: #{$l-font-weight-semibold};
  --l-font-weight-bold: #{$l-font-weight-bold};
  --l-button-icon-only-width: #{$l-button-icon-only-width};

  /* Spacing and Borders */
  --l-main-radius: #{$l-main-radius};
  --l-border-radius: #{$l-border-radius};
  --l-button-border-radius: #{$l-button-border-radius};
  --l-input-border-radius: #{$l-input-border-radius};
  --l-spacing-sm: #{$l-spacing-sm};
  --l-spacing-1: #{$l-spacing-1};
  --l-app-width: #{$l-app-width};
  --l-main-width: #{$l-main-width};

  /* Shadows */
  --l-box-shadow: #{$l-box-shadow};
  --border-stroke: #{$border-stroke};

  /* Button Specific */
  --l-button-bg: #{$l-button-bg};
  --l-button-text-color: #{$l-button-text-color};
  --l-button-hover-bg: #{$l-button-hover-bg}; // Using Sass darken() function

  /* Sizes */
  --l-sliding-panel-size: #{$l-sliding-panel-size};
  --l-input-height: #{$l-input-height};
  --l-bottom-drawer-height: #{$l-bottom-drawer-height};
}
