@import 'resetcss';
@import 'variables';
@import 'lumigator-theme';
@import 'components';
@import 'typography';
@import 'transitions';
// Import PrimeVue Base Styles
@import 'primeicons/primeicons.css'; // PrimeIcons
