accelerate==1.5.2
datasets==2.19.1
langcodes==3.5.0
litellm==1.63.12
loguru==0.7.3
numpy==1.26.3
pandas==2.2.3
pydantic==2.10.6
python-box==7.3.2
s3fs==2024.2.0
sentencepiece==0.2.0
torch==2.6.0
transformers==4.49.0
