name: lumigator

services:
  ray:
    image: rayproject/ray:2.30.0-py311-cpu${RAY_ARCH_SUFFIX}
    
  backend:
    build:
      context: ..
      dockerfile: ".devcontainer/Dockerfile.backend"
    platform: linux/amd64
    depends_on:
      - postgres
      - localstack
    ports:
      - 80:80
    environment:
      - DEPLOYMENT_TYPE=local
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lumigator
      # The local file needs to be available through a mount,
      # if persistence is needed
      - SQLALCHEMY_DATABASE_URL=sqlite:///local.db
      - S3_ENDPOINT_URL=http://localhost:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-2
      - AWS_ENDPOINT_URL=http://localhost:4566
      - S3_BUCKET=lumigator-storage
      - PYTHONPATH=/mzai/lumigator/python/mzai/backend
      - EVALUATOR_WORK_DIR=/mzai/lumigator/python/mzai
      - RAY_DASHBOARD_PORT=8265
      - RAY_HEAD_NODE_HOST=ray
      - LOCAL_FSSPEC_S3_ENDPOINT_URL=${LOCAL_FSSPEC_S3_ENDPOINT_URL}
      - LOCAL_FSSPEC_S3_KEY=${LOCAL_FSSPEC_S3_KEY}
      - LOCAL_FSSPEC_S3_SECRET=${LOCAL_FSSPEC_S3_SECRET}
      - MISTRAL_API_KEY=${MISTRAL_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - RAY_WORKER_GPUS=0
      - RAY_WORKER_GPUS_FRACTION=0
    volumes:
      - ../:/mzai
    # NOTE: to keep AWS_ENDPOINT_URL as http://localhost:4566 both on the host system
    #       and inside containers, we map localhost to the host gateway IP.
    #       This currently works properly, but might be the cause of networking
    #       issues down the line. This should be used only for local, development
    #       deployments.
    extra_hosts:
      - "localhost:host-gateway"

volumes:
    postgres-data:

    localstack-data: