name: lumigator

services:
  postgres:
    image: postgres:16-alpine
    platform: linux/amd64
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lumigator

  localstack:
    # if you want to enable local S3-style data persistence, use the following
    # image and set LOCALSTACK_AUTH_TOKEN in your env
    # image: localstack/localstack-pro:3.4.0
    image: localstack/localstack:3.4.0
    platform: linux/amd64
    ports:
      - 4566:4566
    environment:
      - SERVICES=s3:4566
      - CREATE_BUCKETS=lumigator-storage
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN}
      - PERSISTENCE=1
      - SNAPSHOT_SAVE_STRATEGY=ON_REQUEST
    volumes:
      # Sync localstack startup scripts
      # https://docs.localstack.cloud/references/init-hooks/
      - ./localstack:/etc/localstack/init/ready.d
      - localstack-data:/var/lib/localstack

  ray:
    image: rayproject/ray:2.30.0-py311-cpu-aarch64
    ports:
      - "6379:6379"
      - "8265:8265"
      - "10001:10001"
    command: bash -c "ray start --head --dashboard-port=8265 --port=6379 --dashboard-host=0.0.0.0 --redis-password=yourpassword --block" # pragma: allowlist secret
    shm_size: 2g
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: '5g'
    environment:
      - HOST=localhost
      - RAY_IMAGE=raytest
      - REDISPORT=6379
      - DASHBOARDPORT=8265
      - HEADNODEPORT=10001
      - REDISPASSWORD=yourpassword
      - NUM_WORKERS=4
      - NUM_CPU_WORKER=1
      # NOTE: the following path contains a hash which needs to be updated whenever
      # the list of libraries installed in backend/services/experiments.py changes.
      # This is a temporary solution, see https://github.com/mozilla-ai/lumigator/pull/186
      - LD_PRELOAD=/tmp/ray/session_latest/runtime_resources/pip/3aad1b9393df933f711013a7d9650bb9821e891c/virtualenv/lib/python3.11/site-packages/scikit_learn.libs/libgomp-d22c30c5.so.1.0.0
    volumes:
      - ../lumigator/python/mzai/summarizer/summarizer.py:/home/ray/summarizer.py

  backend:
    build:
      context: ..
      dockerfile: ".devcontainer/Dockerfile.backend"
    platform: linux/amd64
    depends_on:
      - postgres
      - localstack
    ports:
      - 80:80
    environment:
      - DEPLOYMENT_TYPE=local
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lumigator
      - S3_ENDPOINT_URL=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-2
      - AWS_ENDPOINT_URL=http://localstack:4566
      - S3_BUCKET=lumigator-storage
      - PYTHONPATH=/mzai/lumigator/python/mzai:/mzai/lumigator/python
      - RAY_DASHBOARD_PORT=8265
      - RAY_HEAD_NODE_HOST=ray
      - LOCAL_FSSPEC_S3_ENDPOINT_URL=${LOCAL_FSSPEC_S3_ENDPOINT_URL}
      - LOCAL_FSSPEC_S3_KEY=${LOCAL_FSSPEC_S3_KEY}
      - LOCAL_FSSPEC_S3_SECRET=${LOCAL_FSSPEC_S3_SECRET}
      - MISTRAL_API_KEY=${MISTRAL_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - RAY_WORKER_GPUS=0
      - RAY_WORKER_GPUS_FRACTION=0
      - EVALUATOR_DIR=/mzai/lumigator/python/mzai/lm_buddy
    volumes:
      - ../:/mzai

volumes:
    postgres-data:

    localstack-data: