name: lumigator

services:
  postgres:
    image: postgres:16-alpine
    platform: linux/amd64
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lumigator

  localstack:
    image: localstack/localstack:3.4.0
    platform: linux/amd64
    ports:
      - 4566:4566
    environment:
      - SERVICES=s3:4566
      - CREATE_BUCKETS=lumigator-storage
    volumes:
      # Sync localstack startup scriptscurl -X GET http://127.0.0.1/api/v1/ground-truth/deployments/
      # https://docs.localstack.cloud/references/init-hooks/
      - ./localstack:/etc/localstack/init/ready.d

  ray:
    image: rayproject/ray:2.30.0-py311-cpu-aarch64
    ports:
      - "6379:6379"
      - "8265:8265"
      - "10001:10001"
    command: bash -c "ray start --head --dashboard-port=8265 --port=6379 --dashboard-host=0.0.0.0 --redis-password=yourpassword --block" # pragma: allowlist secret
    shm_size: 2g
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: '5g'
    environment:
      - HOST=localhost
      - RAY_IMAGE=raytest
      - REDISPORT=6379
      - DASHBOARDPORT=8265
      - HEADNODEPORT=10001
      - REDISPASSWORD=yourpassword
      - NUM_WORKERS=4
      - NUM_CPU_WORKER=1
    volumes:
      - ../lumigator/python/mzai/summarizer/summarizer.py:/home/ray/summarizer.py

  backend:
    build:
      context: ..
      dockerfile: ".devcontainer/Dockerfile.backend"
    platform: linux/amd64
    depends_on:
      - postgres
      - localstack
    ports:
      - 80:80
    environment:
      - DEPLOYMENT_TYPE=local
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lumigator
      - AWS_HOST=localstack
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-2
      - S3_PORT=4566
      - S3_BUCKET=lumigator-storage
      - PYTHONPATH=/mzai/lumigator/python/mzai:/mzai/lumigator/python
      - RAY_DASHBOARD_PORT=8265
      - RAY_HEAD_NODE_HOST=ray
      - LOCAL_FSSPEC_S3_ENDPOINT_URL=${LOCAL_FSSPEC_S3_ENDPOINT_URL}
      - LOCAL_FSSPEC_S3_KEY=${LOCAL_FSSPEC_S3_KEY}
      - LOCAL_FSSPEC_S3_SECRET=${LOCAL_FSSPEC_S3_SECRET}
    volumes:
      - ../:/mzai

volumes:
    postgres-data:
