[project]
name = "3rdparty-python-dependencies"
version = "0.0.1"
requires-python = ">3.10,<=3.11"

[project.dependencies]
uvicorn = {extras=["standard"], version = ">=0.28.0"}
fastapi = {extras = ["all"], version = "0.110.0"}
pydantic = ">=2.6.4"
pydantic-settings = ">=2.2.1"
click = "8.1.7"
loguru = "0.7.2"
pex = ">=2.6.3"
httpx = "0.27.0"
python-multipart = "0.0.9"
sqlalchemy = {extras=["asyncio"], version="2.0.28"}
psycopg2-binary = "2.9.9"
ray = {extras=["default"], version = "2.30"}
boto3 = "1.34.105"
boto3-stubs = {extras = ["essential"], version = "1.34.105"}
mypy-boto3-s3 = {}
requests = "3.0.0.dev0,>=2.18.0"
ruff = ">= 0.3"
pre-commit = "3.7.1"
pytest = {version = "!=8.1.*,>=6", extras = ["test"]}
pytest-cov = {extras = ["test"]}
testcontainers = "4.7.1"
setuptools = "69.5.1"
numpy = "<2.0.0"
# WIP to sort out platform specific versions.
#torch = [
#    {version = "2.3.1,!=2.3.1+cu118,!=2.3.1+cu121", sys_platform = "darwin", index-url = ["https://download.pytorch.org/whl/cpu"]},
#    {version = "2.3.1+cu118", sys_platform = "linux", extras=["cuda"], index-url = ["https://download.pytorch.org/whl/cu118"]},
#    {version = "2.3.1+cpu", sys_platform = "linux", index-url = ["https://download.pytorch.org/whl/cpu"]}
#    ]
#
# local lm-buddy can be made with the following url spec.
# You have to build the wheel manually and clean out the other wheels that
# are built there - e.g.,

# pushd $WORKSPACE/lm-buddy && \
    # pip wheel . --wheel-dir=$WORKSPACE/wheelhouse  && \
    # cd $WORKSPACE/wheelhouse &&  \
    # mv lm_buddy-<VERSION>-py3-none-any.whl lm_buddy-<VERSION>-py3-none-any.bak && \
    # rm *.whl && mv lm_buddy-<VERSION>-py3-none-any.bak  lm_buddy-<VERSION>-py3-none-any.whl && \
    # popd
# after that you can uncomment the following:
# lm-buddy = {verison = "0.11.0", url = "file://${WHEELS_DIR}"}

# pypy version - default
# warning - if you're developing with a copy of this in your system under $WHEELS_DIR,
# in pants.toml, pants will use the local version even without the local URI
# and things will break. make sure to clean it up before building; this is more a note for followups
lm-buddy = {version = "0.11.0"}
websocket-client = ">= 0.32.0, < 1"
