name: mzai-platform
services:
  backend:
    depends_on:
      postgres:
        condition: service_started
        required: true
      ray:
        condition: service_started
        required: true
    environment:
      DEPLOYMENT_TYPE: local
      POSTGRES_DB: platform
      POSTGRES_HOST: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_PORT: "5432"
      POSTGRES_USER: admin
      RAY_DASHBOARD_PORT: "8265"
      RAY_HEAD_NODE_HOST: ray
    image: model_builder/backend_image:dev
    networks:
      default: null
    ports:
      - mode: ingress
        target: 80
        published: "80"
        protocol: tcp
  postgres:
    environment:
      POSTGRES_DB: platform
      POSTGRES_PASSWORD: password
      POSTGRES_USER: admin
    image: postgres:16-alpine
    networks:
      default: null
    ports:
      - mode: ingress
        target: 5432
        published: "5432"
        protocol: tcp
    volumes:
      - type: volume
        source: postgres-data
        target: /var/lib/postgresql/data
        volume: {}
  ray:
    command:
      - bash
      - -c
      - ray start --head --dashboard-host=0.0.0.0 --dashboard-port=8265 --block
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: "4294967296"
    image: rayproject/ray:2.9.3.94a6d7-py310-aarch64
    networks:
      default: null
    ports:
      - mode: ingress
        target: 8265
        published: "8265"
        protocol: tcp
networks:
  default:
    name: mzai-platform_default
volumes:
  postgres-data:
    name: mzai-platform_postgres-data
