name: Frontend Docker image CI

on:
  pull_request:
    branches:
      - "**"
    # synchronized is when you push new commits
    types: ["opened", "synchronize"]
  push:
    branches:
      - main
    tags:
      # Not the right semver regexp, but good enough
      - 'v[0-9]+.[0-9]+.[0-9]+'
  # required to enable manual triggers on the GH web ui
  workflow_dispatch:

jobs:
  build:
    name: Build Frontend Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check for modified paths
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            rebuild_fe:
              - '.github/workflows/**'
              - 'lumigator/frontend/**'

      - name: Truncate commit SHA
        run: echo "GITHUB_SHA_SHORT=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v3
        if: steps.filter.outputs.rebuild_fe == 'true' && github.event_name == 'push' && github.ref == 'refs/heads/main' || contains(github.ref, 'refs/tags/')
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        if: steps.filter.outputs.rebuild_fe == 'true' || contains(github.ref, 'refs/tags/')
        with:
          file: "lumigator/frontend/Dockerfile"
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' || contains(github.ref, 'refs/tags/') }}
          target: "server"
          tags: |
            ${{ contains(github.ref, 'refs/tags/') == false && format('mzdotai/lumigator-frontend:frontend_{0}', env.GITHUB_SHA_SHORT) || '' }}
            ${{ github.ref == 'refs/heads/main' && 'mzdotai/lumigator-frontend:latest' || '' }}
            ${{ contains(github.ref, 'refs/tags/') && format('mzdotai/lumigator-frontend:{0}', github.ref_name) || '' }}
