name: Documentation - Build and publish

on:
  push:
    branches:
        - main
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  check-openapi:
    name: Check OpenAPI Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install python
        run: uv python install

      - name: Start Lumigator Docker Compose stack
        run: make start-lumigator-build

      - name: Check the OpenAPI spec
        run: make check-openapi-docs

      - name: Stop Lumigator Docker Compose stack
        run: make stop-lumigator

  build-docs:
    name: Docs - Build and publish
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Set up environment
      id: setup
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        uv venv
        echo "VIRTUAL_ENV=$HOME/.venv" >> $GITHUB_ENV
      continue-on-error: false

    - name: Install docs dependencies
      id: install_build_dependencies
      run: |
        . .venv/bin/activate
        uv pip install -r pyproject.toml --extra docs
      continue-on-error: false

    - name: Build documentation
      run: |
        . .venv/bin/activate
        cd docs
        sphinx-build source build/html

    # Always check the docs
    - name: Check links
      id: lychee
      uses: lycheeverse/lychee-action@v2
      with:
        # Documentation: https://github.com/lycheeverse/lychee?tab=readme-ov-file#commandline-parameters
        # Excluding the docs folder because the links in there are dynamic and are checked after
        # they're compiled into html
        args: |
          --base . --verbose --no-progress
          './**/*.md' './docs/build/**/*.html' './**/*.rst'
          --exclude 'mailto:|localhost'
          --exclude-path 'docs/source'
          --exclude-path '.venv'

    - name: Set up pages
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: actions/configure-pages@v4

    - name: Upload artifact
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/build/html/

    - name: Deploy
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: actions/deploy-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/build/html
