name: SDK Publishing

on:
  push:
    tags:
    # Not the right semver regexp, but good enough
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  sdk-packaging:
    name: Package SDK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add tools directory to path
        run: echo ${PWD}/tools >> $GITHUB_PATH

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install yq package
        run: sudo snap install yq

      - name: Check tag consistency (SDK)
        run: check_version.sh
        working-directory: lumigator/python/mzai/sdk

      - name: Check tag consistency (schemas)
        run: check_version.sh
        working-directory: lumigator/python/mzai/schemas

      - name: Install python (SDK)
        run: uv python install
        working-directory: lumigator/python/mzai/sdk

      - name: Install python (schemas)
        run: uv python install
        working-directory: lumigator/python/mzai/schemas

      - name: Package SDK
        run: uv build
        working-directory: lumigator/python/mzai/sdk

      - name: Package schemas
        run: uv build
        working-directory: lumigator/python/mzai/schemas

      - name: Upload SDK packages to PyPI
        working-directory: lumigator/python/mzai/sdk
        run: |
          source .venv/bin/activate
          uv publish --token ${{ secrets.PYPI_TOKEN }} --verbose

      - name: Upload schemas packages to PyPI
        working-directory: lumigator/python/mzai/schemas
        run: |
          source .venv/bin/activate
          uv publish --token ${{ secrets.PYPI_TOKEN }} --verbose
