name: Build and Publish Docs

on:
  push:
    branches:
        - '*'
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  link-checker:
    name: Docs - Link Checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          # Documentation: https://github.com/lycheeverse/lychee?tab=readme-ov-file#commandline-parameters
          args: --base . --verbose --no-progress './**/*.md'  './**/*.rst' --exclude 'mailto:|localhost'
