name: Tests

on:
  push:

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install python
        run: uv python install
        working-directory: lumigator/python/mzai/backend

      - name: Start backend
        run: make local-up

      - name: Run tests
        run: SQLALCHEMY_DATABASE_URL=sqlite:///local.db uv run pytest
        working-directory: lumigator/python/mzai/backend

      - name: Stop backend
        run: make local-down